* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: 'Garamond', serif;
}

.endings {
	background-color: green;
	color: white;
	padding: 20px;
	font-size: 120%;
	text-align: center;
}

.top, .footer {
    background-color: #3CB371;
    color: white;
    padding: 10px;
    font-size: 130%;
    text-align: center;
}

.sides {
    background-color: bisque;
    height: 500px;
    padding: 20px;
}

.left {
    background-color: #FAEBD7;
	width: 55%;
    height: 450px;
	float: left;
}

.right {
    background-color: #FAEBD7;
	width: 45%;
    height: 450px;
	float: left;
}

img {
	padding: 3px;
	margin: 15px;
	border: 2px dashed #3CB371;
    width: 550px;
}