* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: 'Garamond', sans-serif;
}

.endings {
	background-color: green;
	color: white;
	padding: 20px;
	font-size: 120%;
	text-align: center;
}

.top {
	height: 20%;
}

.footer {
	height: 10%;
	clear: both;
}

.sides {
    background-color: bisque;
    height: 500px;
    padding: 20px;
}

.left {
	width: 40%;
	float: left;
}

.right {
	width: 60%;
	float: left;
}

img {
	padding: 5px;
	margin: 10px;
	border: 1px solid #000080;
    width: 550px;
}